<div>
  <div class="flex justify-between nav bg-indigo-600">
    <div class="flex ">
      <a routerLink="/products" class="mt-3 ml-4 text-white  text-lg"><i>
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </i></a>
      <h1 class="mt-3 ml-4 text-white font-normal text-l">Product Cart</h1>
    </div>

  </div>
  <!-- <div class="">
    <ul class="item flex flex-wrap text-sm font-medium text-center text-white color">
      <li class="ml-2 mt-1">Product Name</li>
      <li class="Qty mt-1">Quantity</li>
    </ul>
  </div> -->
  <div class="menu-list overflow-y-auto ">

    <div class="newContainer33 card card-3 mt-0.5">

      <div class="grid grid-rows-1 grid-flow-row ">
        <p class="ml-1">1 kg Vacuum salt . 1 kg Vacuum salt . 1 kg Vacuum salt . 1 kg Vacuum salt . 1 kg Vacuum salt . 1
          kg Vacuum salt .</p>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <div>
          <ul class="IItem ml-1">
            <li>Unit Price </li>
            <li class="price">770.7 </li>
          </ul>
          <ul class="IItem2 ml-1">
            <li>Total Price</li>
            <li class="price2">0.0</li>
          </ul>
        </div>

        <div class="btnSide">
          <ul class="btn2 mt-2">
            <li>
              <button class=" minusBtn  py-1 px-3   rounded-full">
                <fa-icon [icon]="faMinus"></fa-icon>
              </button>
            </li>

            <li>
              <input class="input22">
            </li>
            <li>
              <button class="plusBtn  py-1 px-3   rounded-full  rounded-full">
                <fa-icon [icon]="faAdd"></fa-icon>
              </button>
            </li>
            <li class="remove ">

              <button class="py-1 px-2 text-lg  Trashbtn">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </li>

          </ul>
        </div>
      </div>

    </div>













  </div>
  <a routerLink="/productCard">
    <div class="w-full h-24  border-t-2 border-white
            fixed left-0 bottom-0

            text-white text-2xl
            ">

      <div class="flex  h-12">
        <div class="flex-none bg-blue-500">
          01
        </div>
        <div class="flex-1 w-64 bg-blue-700">
          02
        </div>
        <div class="flex-1 w-64 bg-red-700">
          03
        </div>
        <div class="flex-none bg-blue-500">
          01
        </div>
      </div>
      <div class="">
        <button
          class="bg-green-500 hover:bg-blue-700 text-white font-normal py-2 px-3 border border-blue-700  w-full text-sm">
          CONFIRE ORDER (700.0 TK)
        </button>

      </div>


    </div>
  </a>

</div>
