
<div class="body">

    <form class="p-8 ">
        <div class="mt-28">
          <div  class="mb-4">
            <img class="w-full" src="assets/accoutech_lweb.png">
          </div>
          <div  class="mb-6">
            <p class="text-center text-black font-medium">Log in to access your account</p>
          </div>
          <div class="mb-6">

            <input type="email" id="email" class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 text-center font-semibold" placeholder="Enter User Name" required>
          </div>
          <div class="mb-6">

            <input type="password" id="password" class="bg-white border border-gray-300  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-center font-semibold" placeholder="Enter password" required>
          </div>


          <a routerLink="/dashboard">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"  >LOG IN</button>
          </a>
          <div class="flex items-start mb-6 mt-4">
            <div class="flex items-center h-5">
              <input id="remember" type="checkbox" value="" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
            </div>
            <label for="remember" class="ml-2 text-sm font-medium text-blue-700 dark:text-gray-300">Remember me</label>
          </div>
     </div>
    </form>

  </div>


  <!-- end login -->





