<!-- <button id="btnSidebarToggler" type="button" class="py-4 text-2xl text-white hover:text-gray-200">
  <svg id="navClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="h-8 w-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
  <svg id="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="hidden h-8 w-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>
</button>

<div id="containerSidebar" >
  <div class="navbar-menu relative ">
      <nav id="sidebar"
          class="fixed left-0 bottom-0 flex w-3/4 -translate-x-full flex-col overflow-y-auto bg-gray-700 pt-6 pb-8 sm:max-w-xs lg:w-80 h-full">


          <div class="px-4 pb-6">
              <h3 class="mb-2 text-xs font-medium uppercase text-gray-500">
                  Main
              </h3>
              <ul class="mb-8 text-sm font-medium">
                  <li>
                      <a class="active flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          href="#homepage">
                          <span class="select-none">Homepage</span>
                      </a>
                  </li>
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          >
                          <span class="select-none">link1</span>
                      </a>
                  </li>
              </ul>
          </div>

          <div class="px-4 pb-6">
              <h3 class="mb-2 text-xs font-medium uppercase text-gray-500">
                  Legal
              </h3>
              <ul class="mb-8 text-sm font-medium">
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          href="#tc">
                          <span class="select-none">Terms and Condition</span>
                      </a>
                  </li>
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          href="#privacy">
                          <span class="select-none">Privacy policy</span>
                      </a>
                  </li>
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          href="#imprint">
                          <span class="select-none">Imprint</span>
                      </a>
                  </li>
              </ul>
          </div>

          <div class="px-4 pb-6">
              <h3 class="mb-2 text-xs font-medium uppercase text-gray-500">
                  Others
              </h3>
              <ul class="mb-8 text-sm font-medium">
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          href="#ex1">
                          <span class="select-none">...</span>
                      </a>
                  </li>
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600"
                          href="#ex2">
                          <span class="select-none">...</span>
                      </a>
                  </li>
              </ul>
          </div>

      </nav>
  </div>
  <div class="mx-auto lg:ml-80"></div>
</div>

 -->
 <div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<button class="text-xl text-white  mr-2 mt-4" onclick="openNav()">☰ </button>
