<div class="flex justify-between nav  bg-indigo-600 color">
  <div class="flex ">
    <a routerLink="/dashboard" class="mt-3 ml-2 text-white  text-l"><i>
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </i></a>
    <h1 class="mt-3 ml-4 text-white font-normal text-l">PRODUCTS LIST</h1>
  </div>
  <div class="mt-3 ml-28 text-white font-normal text-l">
    <i>
      <fa-icon [icon]="faSearch"></fa-icon>
    </i>

  </div>
  <div class="mt-3 mr-6 text-white font-normal text-l">

    <i>
      <fa-icon [icon]="faRefresh"></fa-icon>
    </i>
  </div>

</div>
<!-- <div class="filter ">
      <i class="iconFilter">
        <fa-icon   [icon]="faFilter"></fa-icon>
      </i>
  </div> -->

<div class="try">





  <div class="sidebar border border-black-500  ">

    <div class="filter ">
      <i class="filterIcon">
        <fa-icon [icon]="faFilter"></fa-icon>
      </i>
    </div>
    <ul class="menu-list overflow-y-auto">
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class=" ">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            VACUUM SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            INANI SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            Oil
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            CE BLACK
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class=" ">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            VACUUM SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            INANI SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            Oil
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            CE BLACK
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class=" ">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            VACUUM SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            INANI SALT
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            Oil
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            CE BLACK
          </div>
        </a>
      </li>
      <li>
        <a class=" border border-black-500" href="">

          <div>
            <i class="">
              <img class="" src="assets/box.png">
            </i>
          </div>
          <div>
            SALT
          </div>
        </a>
      </li>

    </ul>
  </div>
  <!-- <div class=" item bg-indigo-400">
    <div class="grid grid-cols-2 gap-2">
      <div class="ml-3">
        Product Name
      </div>
      <div class="ml-8">
        Quantity
      </div>
    </div>



  </div> -->

  <div class="menu-list overflow-y-auto">
    <div class="mainItem ">
      <div class="BoxItem    border shadow-md dark:bg-gray-800 dark:border-gray-700 rounded-lg">

        <div class="grid grid-rows-1 grid-flow-row ">
          <p class="ml-1 ptext">1 kg Vacuum salt . 1 kg Vacuum salt . 1 kg Vacuum salt . 1 kg Vacuum salt . 1 kg Vacuum
            salt . 1
            kg Vacuum salt .</p>

        </div>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <ul class="IItem ml-1">
              <li>Unit Price </li>
              <li class="price">770.7 </li>
            </ul>
            <ul class="IItem2 ml-1">
              <li>Total Price</li>
              <li class="price2">0.0</li>
            </ul>
          </div>
          <div class="">
            <ul class="btn2 mt-1">
              <li>
                <button class=" minusBtn  py-1 px-3   rounded-full">
                  <fa-icon [icon]="faMinus"></fa-icon>
                </button>
              </li>

              <li>
                <input class="input22">
              </li>
              <li>
                <button class="plusBtn  py-1 px-3   rounded-full  rounded-full">
                  <fa-icon [icon]="faAdd"></fa-icon>
                </button>
              </li>


            </ul>
          </div>
        </div>

      </div>
    </div>












  </div>
  <a routerLink="/productCard">
    <div class="w-full h-12 color border-t-2 border-white
              fixed left-0 bottom-0

              text-white text-2xl
              ">
      <!-- flex justify-center items-center -->
      <!-- <div>
              <ul>
                <a class="p-4" routerLink="">Home</a>
                  <a class="p-4" routerLink="employee">Employee</a>
              </ul>
            </div> -->
      <div>
        <a>
          <p class="text-center mt-1 font-medium text-sm">SAVE(0)</p>
        </a>
        <a>
          <p class="text-center  font-medium text-sm">0.0 BDT</p>
        </a>
      </div>


    </div>
  </a>









</div>
