<div class="main">

  <div class="flex justify-between nav bg-blue-600">
    <div class="flex ">
      <a routerLink="/dashboard" class="mt-3 ml-2 text-white  text-lg"><i>
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </i></a>
      <h1 class="mt-3 ml-4 text-white font-medium text-lg">DISTRIBUTOR LIST</h1>
    </div>
    <div class="mt-3 ml-20 text-white font-medium text-lg">
      <i>
        <fa-icon [icon]="faSearch"></fa-icon>
      </i>

    </div>
    <div class="mt-3 mr-6 text-white font-medium text-lg">

      <i>
        <fa-icon [icon]="faRefresh"></fa-icon>
      </i>
    </div>

  </div>

  <div class=" menu-list overflow-y-auto">
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="BoxItem  bg-white  border  dark:bg-gray-800 dark:border-gray-700">

      <div>
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-full" src="assets/new.png">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-red-500 truncate dark:text-white">
                  Borishal
                </p>
                <p class="text-sm text-blue-500 truncate dark:text-gray-400 uppercase font-medium text-xl">
                  MHP Enterprise
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded-full mr-4 text-sm">
                  Order
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>



</div>
